body {
    font-size: 25px;
    font-family: 'Stylish', sans-serif;
    img {
        width: 100%
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Stylish', sans-serif;
    }
    section {
        margin: 100px 0;
        background: white;
    }
}

#wrapper {
    & li:hover {
        color: greenyellow;
    }
    & #sidebar {
        display: none;
    }
    & main {
        margin-top: 100px;
    }
}
.content {
    padding: 0 10%;
}

#aboutme {
    span:hover {
        background: #4CAF50 !important;
        color:white;
    }
}
.contactIcon {
    width: 150px;
    height: 140px;
    line-height: 140px;
    margin: 0 auto;
}
.bar {
    height: 5px;
}
.circle {
	width: 200px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
	vertical-align: top;
	strong {
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 45px;
		font-size: 24px;
	}
}
// ---------------
